REACT_APP_LOAD_GEO_JSON_DATA_URL=https://nominatim.openstreetmap.org/search.php?q=Gurugram+Haryana&polygon_geojson=1&format=geojson
REACT_APP_GOOGLE_MAPS_API=https://maps.googleapis.com/maps/api/js?key=YOUR_GOOGLE_MAPS_API_KEY&libraries=geometry&callback=initMap